%p#notice= notice

%p
  - @nodes.each do |node|
    %h4
      = node.content


%div{style: "text-align: center"}
  = link_to 'Edit', edit_chapter_path(@chapter)
  \|
  = link_to 'Back', chapters_path
  \|
  = link_to 'Export', to_md_chapter_path(@chapter)


